* {
	box-sizing:border-box;
}

body {
	width:100vw;
	height:100vh;
	display:flex;
	align-items:center;
	justify-content:center;
	font-family:sans-serif;
	margin:0;
}

.container {
	display:inline-block;
	margin:0;
	text-align:center;
}

.container h1 {
	font-weight:normal;
	text-transform:uppercase;
	font-size:18px;
}
#count-box {
	font-size:108px;
}

.peck {
	background-image: erected-smiling-penis-erected-smiling-penis-balls-vector-107203673.jpg;
	background-repeat: no-repeat;
	width:100px;
	height: 300px;
	opacity:0.7;
}
